# Integers

In [33]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [1]:
x = 33333 * 3
print(x)
print(type(x))

99999
<class 'int'>

In [5]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

# Floating

In [6]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Stings

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [6]:
print('')
print("This string contains a single quote (') character.")
print('This string contains a single quote (") character.')

This string contains a single quote (') character.
This string contains a single quote (") character.

# Boolean

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assigment

In [9]:
n = 300
print(n)

300

In [10]:
n

300

In [11]:
# Later, if you chang the value of n and use it again, the new value will be substituted instead:

n = 1000
print(n)
n

1000

1000

In [14]:
a = b = c = 300
print(a, b, c)

300 300 300

# Variable Types

In [15]:
var = 23.5
print(var)

var = "Now i'm a string"
print(var)

23.5
Now i'm a string

# Variable Names

In [16]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [20]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [21]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5 
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, a_g_e, _age, age_, _AGE_)

1 2 3 5 6 7 8

# Operators and Expressions

In [22]:
a = 10
b = 20
a + b

30

In [26]:
a = 10
b = 20
a + b - 5

25

# Arithmetic Operators

In [28]:
# Example of operators
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [29]:
# The result of standard division (/) is always a float, even if dividend is evenly divisible by the divisor

10 / 5

2.0

# Comparison Operators

In [32]:
# Example of comparison operators
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

# String Manipulation

In [34]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print ('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [35]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [36]:
# in Operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [37]:
# Case Conversion
s = 'hackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
HACKtiv8
Hacktiv8
HACKTIV8

# Python Lists

In [38]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [41]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

print(a == b)

False

In [42]:
# List Can Contain Arbitary Objects
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [44]:
# List Elements Can Accessed by Index

a = ['foo', 'bar', 'baz', ' qux', 'quux', 'corge']
# Index Postitive
print(a[0])
print(a[5])
# Index Negative
print(a[-1])
print(a[-6])

foo
corge
corge
foo

In [51]:
# Slicing
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[2:5])

['baz', 'qux', 'quux']

In [48]:
# The Concatenation (+) and Replication (*) Operators:
print(a)
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', ' qux', 'quux', 'corge']
['foo', 'bar', 'baz', ' qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', ' qux', 'quux', 'corge', 'foo', 'bar', 'baz', ' qux', 'quux', 'corge']

In [52]:
# len(), min(), max()
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [53]:
# Modifying a Single List Value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [54]:
# A list item can be deleted with the del command:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [55]:
# Modifying Multiple List Value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

In [56]:
t = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(t)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [57]:
print(t[0])
print(t[-1])

foo
corge

In [59]:
# packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

# Python Dictionary

In [60]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

In [61]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto]

Twins
Rockies

In [62]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [63]:
# If you want to update entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [64]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [71]:
# Building a Dictionary Incrementally
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat' : 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [72]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [73]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [74]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [78]:
# Built-in methods
d = {'a': 10, 'b': 20, 'c': 30}
# items
print(d.items())
# keys
print(d.keys())
# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation

In [79]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [80]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True